body li{
  list-style-type: none;
}

body{
  font-family: "Helvetica Neue";
  margin-left: 0;
  margin-right: 0;
  overflow-x: hidden;
}

nav li {
  float: right;
  padding-right: 40px;
  padding-top: 3%;
}

.row-2-list li {
  list-style-type: initial;
}


.intro-web-host{
  text-align: center;
  background-color: #f5faf8;
}

.title {
  margin-top: 0px;
  padding-top: 2rem;
}

.description-1 {
  margin-top: -30px;
}

.description-2 {
  margin-bottom: 0px
}
 
.services {
  text-align: center;
}

h3 {
  color: green;
  text-transform: uppercase;
  font-size: 30px;
}

.service-info {
  margin: 0
} 

.row-1, .row-2, .row-3 {
  border: solid 2px green;
  border-radius: 10px;
  padding-left: 15px;
  margin: 30px 165px;
  width: 75%;  
}

.domain-image {
  display: flex;
  margin-left:160px;
}

.vertical-line {
    margin: 30px 60px ;
    height: 200px;
}

.dedicated-virtual {
  color: #143f8f;
  margin-top: 80px;
  margin-left: -40px;
}

.add-ons {
  margin : -20px 0 15px 700px
}

.row-1-intro, .row-2-intro, .row-3-intro {
  display: flex;

}

.row-2-intro {
  margin-bottom: -50px

}

.row-2-list-1 {
  float: left;
  margin-right: 50px;
  margin-left: 380px;
}


.webhosting{
  display: flex;
  margin-top: -35px
}

.webhosting li{
  color: #143f8f;
  line-height: 2em;
  font-weight: 500;
}
.webhosting p{
  font-size: 25px;
}

button{
  background-color:#ffe30f;
  height: 30px;
  font-size: 14px;
  font-weight: bold;
  margin-left: 30px
}

.col-1, .col-2{
  display: flex;
  margin-left: 50px;
  margin-right: 50px
}

.domain {
  color: #143f8f;
  margin-left: 80px
}

.service-info {
  margin: 35px 20px 10px 25px
}

.webhost-discount {
  height: 70px;
  background-color: #143f8f;
  padding: 0;
  margin:0
}

.webhost-package {
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 10px 10px;
  line-height: 1.5rem
}

h2 {
  color: #143f8f;
  text-align: center;
  margin-top: 40px
}

.contact-form {
  display: flex;
}

.contact-form-1 {
  margin: 20px 100px 0 365px;
}

.contact-info {
  line-height: 0.4rem;
  margin-top: 30px
}
.contact-form-2 input{
  height: 30px;
  width: 100%; 
  margin-top:15px;
  font-size: 14px
}

textarea {
  width: 100%; 
  margin-top:15px ;
  margin-bottom: 10px;
  font-size: 14px
}

.send-btn {
  margin: 0 0 20px 400px;

}

::placeholder {
  font-size: 15px
}

footer {
  height: 50px;
  background-color: #4a4a4a;
  color: white;
  display: flex
}

footer p {
  margin-left: 45px;
  margin-right: 45px
}

.spacer {
  flex:1
}




