
body li{
  list-style-type: none;
}

body, html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  overflow-x: hidden;
  width: 100%;
  max-width: 1920px;
  background-color: #C9C9C9;
  min-width: 400px;

}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 680px;
  min-width: 400px;
  height: auto;
  background: white
}

nav {
  background-color: white;
  height: 90px;
}

nav li {
  float: right;
  padding-right: 25px;
  padding-top: 3%;
  color: black;
  margin-bottom: 0;
  margin-top: 15px;
  font-weight: bold;
  color: #737373;
}


nav li:hover {
  color: green;
}

nav img {
  margin-left: 30px;
  margin-top: 15px
}

.banner {
  box-shadow: 0px 0px 3px 0px gray
}

.intro-web-host{
  text-align: center;
  background-color: #f5faf8;
}

#about {
  margin-top: 0px;
  padding-top: 2rem;
}

.description-1 {
  margin-top: -30px;
}

#services {
  text-align: center;
  color: green;
  font-size: 20px
}

h3 {
  color: green;
  text-transform: uppercase;
  font-size: 22px;
  position: relative;
}

.service-info {
  margin: auto 0 auto 15px;
  font-size: 16px
} 

.row-1, .row-2, .row-3 {
  border: solid 2px green;
  border-radius: 10px;
  padding-left: 15px;
  margin: 30px auto;
  width: 90%;
}

.webhosting {
  display: flex; 
  margin-bottom: -20px
}

.webhosting li{
  color: #143f8f;
}

.vertical-line {
  height: 180px;
} 

.dedicated-virtual {
  color: #143f8f;
  margin-left: 360px;
  line-height: 2em
}

.OS {
  font-size: 1.5em;
  margin-left: 15px
}

.add-ons {
  margin: 0px 10px 10px 390px;
}

button {
  background-color:#ffe30f;
  height: 30px;
  font-size: 14px;
  font-weight: bold;
  margin-left: 30px;
}

.row-1-intro, .row-2-intro, .row-3-intro {
  display: flex;
}

.row-2-intro {
  margin-bottom: -50px
}


.row-2-list li {
  list-style-type: initial;
  margin-right: 5
}

.row-2-list-1 {
  display: flex;
  font-size: 0.83em;
  margin: 30px auto auto 290px;
}

.col-1, .col-2 {
  display: flex;
}

.domain-name {
  color: #143f8f;
  margin-left: 40px;
  margin-top: -10px
}

.domain {
  display: flex;
  margin-left:50px;
  margin-top: -20px;
}

h5 {
  font-size: 45px;
  line-height: 0em;
  margin-bottom: -25px
}

.webhost-discount {
  height: 90px;
  background-color: #143f8f;
  padding: 0;
  margin:0
}

.webhost-package {
  color: white;
  text-align: center;
  padding: 25px 15px;
  line-height: 1.3rem;
  font-weight: 4rem;
  word-spacing: 0.1em
}

.window-1, .linux-1 {
  margin-right: 2em;
  line-height: 2em
}

.window-2 {
  margin-left: 1em;
  line-height: 2em
}

.linux-2 {
  margin-right: .5em;
  margin-left: 1em;
  line-height: 2em
}

h2 {
  color: #143f8f;
  text-align: center;
  margin-top: 40px
}

.logos-1 img {
  width: 150px;
  margin-left: 40px
}

.logos-3 img {
  width: 150px;
  margin-top: -25px;
  margin-left: 40px
}

.logos-2 img {
  width: 149px;
  margin-bottom: 40px
} 

.logos-row-1, .logos-row-2{
  display: flex;
}

#message {
  margin-bottom: -10px
}

#contact-form {
  display: flex;
}

.contact-form-1 {
  margin: 20px 5px 20px 40px;
}

.contact-info {
  margin-top: 30px
}

.contact-form-2 input{
  height: 30px;
  width: 180%; 
  margin-top:15px;
  font-size: 14px;
}

textarea {
  width: 180%; 
  margin-top:15px ;
  margin-bottom: 10px;
  font-size: 14px
}

.send-btn {
  margin-left: 41.5em;
  margin-bottom: 80px;
  cursor: pointer;
}

::placeholder {
  font-size: 15px;
  padding-left: 3px
}

footer {
  height: 60px;
  background-color: #4a4a4a;
  color: white;
  display: flex;
  margin-bottom: 0
}

footer p{
  margin-left: 10px;
  margin-right: 45px;
  padding: 8px 
}

.spacer {
  flex: 1
}



/* @media screen and (max-width: 1060px){

  .domain {
    display: block;
    margin: auto;
  }
 
.row-1, .row-2, .row-3 {
  border: solid 2px green;
  border-radius: 10px;
  padding-left: 15px;
  margin: 20px 20px;
  width: 80%;  
  overflow: hidden;
}


.col-1, .col-2{
  display: flex;
  margin: 0
  
}

.service-info {
  
}

.logos-row-1 {
  margin-left: 50px
}

.description-1, .description-2 {
  font-size: 14px
}

.add-ons {
  margin : 0;
  text-align: center;
  margin-bottom: 15px
}

.contact-form-1 {
  margin-left:50px;
  justify-content: center;
}
.contact-form-2 input, textarea{
  width: 150%;
  justify-content: center;

}

.send-btn {
  margin: auto;

}
.contact-form-2 {
  margin-bottom: 20px
}
.webhosting {
  display: block
}

.col-1, .col-2{
  justify-content: center

}

.vertical-line {
  margin: 10px ;
  height: 1px;
}

.webhost-package {
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 20px auto;
  margin: auto;
  line-height: 1rem
}

} */



/* @media screen and (max-width: 660px){
  .row-1-intro, .row-2-intro{
    display: block;
  }

  .contact-form-2 input, textarea{
    width: 80%;
    justify-content: center;
  
  }
  .row-2-list li{
    margin: 20px;
  }

  .row-2-list-1 {
    margin: 2rem;
    text-align: center;
    line-height: 0rem;


  }
  
  .domain-image{
    margin-left: 10px
  }
  .domain {
    display: block;
    margin: auto;
  }
 

} */


/* New stylings added */



@media screen and (max-width:565px) and (min-width: 500px) {
  /* #contact-form {
    display: block;
  }
  
  .contact-form-1 {
    margin: 20px 5px 20px 40px;
    text-align: center;
  }
  
  
  .contact-form-2 input{
    height: 30px;
    width: 70%; 
    margin: 15px 15% 0 15%;
  }
  
  textarea {
    width: 70%; 
    margin: 15px 15% 0 15%;
  }
  
.send-btn {
  margin-left: 200px
} */

}
@media screen and (max-width:640px) and (min-width:565px) {

  .contact-form-2 input, textarea {
    width: 150%;
  }

  .send-btn {
    margin-left: 36.5em
  }
  
}

@media screen and (max-width: 675px) {
  .logos-1 img, .logos-2 img, .logos-3 img{
    width: 140px;
    margin: auto 
  }

  
}

@media screen and (max-width: 554px) {
  .logos-row-1, .logos-row-2 {
    display: block
  }

  nav li, nav img {
    margin-top: 15px;
    font-size: 0.9em;
    padding-right: 10px;
    font-size: 0.9em
  }

  nav {
    height: 60px;
  }

  .row-1-intro, .row-2-intro, .row-3-intro {
    display: block;
    margin-bottom: 20px;
  }

  .webhosting {
    display: block;
    margin-left: 5px
  }

  .vertical-line {
    margin: 10px ;
    height: 0px;
  }

  div .col-1 {
    margin-left: 50px
  }

  .col-2 {
    margin-top: 35px;
    margin-left: 30px
  }

  .dedicated-virtual {
    position: absolute;
    margin: 175px auto auto 120px;
  }

  .add-ons {
    margin: 30px 10px 10px 120px;
  }

  h5 {
    font-size: 30px;
    line-height: 1.1em
  }

  .row-2-list-1 {
    display: flex;
    margin: auto;
  }

  .domain {
    margin-top: 0;
    margin-left: 0;

  }

  .domain-name {
    margin-left: 20px;
  }

  h3 {
    margin-bottom: 5px
  }
  
  .send-btn {
    margin-left: 300px
  } 

  .contact-form-1 {
    font-size: 12.5px;
  }

  .contact-form-2 input, textarea {
    width: 100%
  }

  .logos-1 img, .logos-2 img, .logos-3 img{
    width: 100px;
    display: inline
  }

  .logos-row-1 {
    display: flex
  }
  
}

@media screen and (max-width: 400px) {
  h5 {
    font-size: 27px
  }

  .domain img{
    height: 180px;
  }
}

/* TEST */
@media screen and (min-width: 555px) and (max-width: 679px){
  .row-1 {
    font-size: 12px
  }
  .row-2-list li {
    font-size: 8px
  }

}